name: ci
on:
  push:
    branches: [release, alpha, beta, next-major, 'release-[0-9]+.x.x', master, main]
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - '**/**.md'
jobs:
  check-ci:
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Set up .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8'
        # cache: true
    - name: Cache NuGet packages
      uses: actions/cache@v2
      with:
        path: |
          ~/.nuget/packages
          ~/.local/share/NuGet/Cache
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-nuget-
    - name: Restore NuGet packages
      run: nuget restore Parse.sln
    - name: Install Chocolatey packages
      uses: crazy-max/ghaction-chocolatey@v1
      with:
        args: 'install opencover.portable codecov -y'
    - name: Build
      run: dotnet build Parse.sln --configuration Debug --no-restore
    - name: Run tests with coverage
      run: |
        OpenCover.Console.exe -target:dotnet.exe -targetargs:"test --configuration Debug --test-adapter-path:. --logger:console /p:DebugType=full .\Parse.Tests\Parse.Tests.csproj" -filter:"+[Parse*]* -[Parse.Tests*]*" -oldstyle -output:parse_sdk_dotnet_coverage.xml -register:user
    - name: Upload code coverage
      uses: codecov/codecov-action@v4
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
    # - name: Upload artifacts
    #   if: always()
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: Parse NuGet Package
    #     path: '**/*.nupkg'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
